*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
	width:90%;
	margin:auto;
}
#service{
	background-color:#071e41;
}

#service .ser-top{
	display:flex;
	flex-flow:column;
	text-align:center;
	height:220px;
	align-items:center;
}
#service .ser-top h1{
	padding-top:73px;
	font-size:30px;
	margin-bottom:18px;
	color:white;
	font-family: cursive;
}
#service .ser-top div{
	height:2px;
	width:60px;
	background-color:#5d5d60;
	margin-bottom:18px;

}
#service .ser-top p{
	font-size:18.3px;
	color:#d5c1c1e8;
}
#service .ser-whole{
	
	display:flex;
	padding-bottom:60px;
}
#service .ser-whole > div{
	width:25%;
	height:300px;
	background-color:white;
	display:flex;
	flex-flow:column;
	text-align:center;
	align-items:center;
	border-radius:6px;
	
}
#service .ser-whole > div div i{
	font-size:30px;
	color:#072b62;
}
#service .ser-whole > div div{
	height:70px;
	width:70px;
	background-color:#ededf6;
	margin-top:55px;
	line-height:80px;
	border-radius:50%;
	margin-bottom:20px;
}
#service .ser-whole > div div i{
	font-size:30px;
}
#service .ser-whole > div h2{
	margin-bottom:15px;
	color:#404040;
}
#service .ser-whole > div p{
	font-size:18.3px;
	margin-bottom:10px;
	margin:0px 15px 10px 15px;
}
#service .ser-whole .ser1,.ser2,.ser3{
	margin-right:20px;
}
#tt{
	height:350px;
	
}
#tt table,tr,th,td{
	border:solid 1px red;
	border-collapse:collapse;
}
#tt table{
	height:300px;
	width:600px;
}